@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ThunderBold";
  src: local("ThunderBold"),
    url("./assets/fonts/titleFont/Thunder-BlackLC.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "ThunderLight";
  src: local("ThunderLight"),
    url("./assets/fonts/textFont/Thunder-HC.otf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "ThunderMedium";
  src: local("ThunderMedium"),
    url("./assets/fonts/textFont/Thunder-MediumLC.otf") format("truetype");
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-face-tl {
  font-family: "ThunderLight";
}
.font-face-tm {
  font-family: "ThunderMedium";
}
.font-face-tb {
  font-family: "ThunderBold";
}
